# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.lcov

# Production
build/
dist/

# Misc
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*

# Database
*.db
*.sqlite

# AWS
.aws/
*.pem

# Terraform
*.tfstate
*.tfstate.*
.terraform/
